<footer id="footer">
    <div class="container footer-bottom clearfix align-items-center justify-content-center d-flex">
      <div class="copyright text-center align-items-center justify-content-center">
        &copy; news<strong><span>Redirect</span></strong>
      </div>
    </div>
  </footer>